[submodule "output/server/cpp/GuiBaseImpl/deps/openwl"]
	path = output/server/cpp/GuiBaseImpl/deps/openwl
	url = https://github.com/dewf/openwl.git
[submodule "output/server/cpp/GuiBaseImpl/deps/opendl"]
	path = output/server/cpp/GuiBaseImpl/deps/opendl
	url = https://github.com/dewf/opendl.git
